.header{
    display: flex;
    background-color: orangered;
    height: 100px;
}
a{
    text-decoration: none;
    margin: auto;
    color: black;
}
.main-content{
    display:flex ;
}
.section{
    border: 1px solid black;
}
.article{
    border: 1px solid black;
    margin-top: 5px;
}
.aside{
    border: 1px solid black;
    margin-top: 5px;
}
.footer{
    color: aliceblue;
    background-color: orchid;
}